.vscode/settings.json
src/mayaa/__pycache__/__init__.cpython-311.pyc
src/mayaa/__pycache__/mayaa.cpython-311.pyc
demo/res/celeste test.png
demo/res/IMG_4311.jpg
demo/res/maya.jpeg
demo/res/maya.png
demo/res/potato.jpeg
demo/res/silly.png
demo/res/splash.png
demo/res/test2.jpeg
demo/test.py
demo/rope.py
demo/sillyscaled.py

demo/slidablepanel.py
demo/images/december.jpeg
demo/images/january.png
demo/images/march.jpeg
demo/MayaaCalendar.py
